<nav
  class="navbar bg-dark navbar-expand-lg bg-body-tertiary"
  data-bs-theme="dark"
>
  <div class="container">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active"
      >Date Uygulaması</a
    >

    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <ng-container *ngIf="accountService.currentUser$ | async">
        <li class="nav-item">
          <a class="nav-link" routerLink="/members" routerLinkActive="active"
            >Eşleşmeler</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/lists" routerLinkActive="active"
            >Listeler</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/messages" routerLinkActive="active"
            >Mesajlar</a
          >
        </li>
        <li *appHasRole="['Admin', 'Moderator']" class="nav-item">
          <a class="nav-link" routerLink="/admin" routerLinkActive="active"
            >Admin</a
          >
        </li>
      </ng-container>
    </ul>

    <div
      ngbDropdown
      class="dropdown"
      *ngIf="accountService.currentUser$ | async as user"
    >
      <img src="{{ user.photoUrl || './assets/user.png' }}" alt="user photo" />
      <a
        ngbDropdownToggle
        class="dropdown-toggle text-light text-decoration-none ms-2"
        >Hoşgeldin {{ user.knownAs }}</a
      >
      <div ngbDropdownMenu class="dropdown-menu">
        <a ngbDropdownItem class="dropdown-item" routerLink="/member/edit"
          >Profili Düzenle</a
        >
        <a ngbDropdownItem href="" class="dropdown-item" (click)="logout()"
          >Çıkış</a
        >
      </div>
    </div>

    <form
      *ngIf="!(accountService.currentUser$ | async) as user"
      class="d-flex"
      #loginForm="ngForm"
      (ngSubmit)="login()"
      autocomplete="off"
    >
      <input
        name="username"
        [(ngModel)]="model.username"
        class="form-control me-2"
        type="text"
        placeholder="Kullanıcı Adı"
      />
      <input
        class="form-control me-2"
        name="password"
        [(ngModel)]="model.password"
        type="password"
        placeholder="Şifre"
      />
      <button class="btn btn-outline-success" type="submit">Giriş</button>
    </form>
  </div>
</nav>
